.daycont {
  background-color: rgba(255, 255, 255, 0.795);
  margin: 2px;
  padding: 8px;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.2);
  transition: all 0.3s ease-in-out;
  color: rgb(42, 42, 151);
}

.daycont:hover {
  transform: scale(1.05);
  box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.4);
}

.daycont img {
  width: 100%;
}

.daycont div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 8px;
  text-align: center;
}

.author {
  right:40px;
  position: absolute;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 6rem;
  min-height: 100%;
  font-family: Arial, Helvetica, sans-serif;
  background: linear-gradient(-45deg, #ee7752, #e7bc3c, #23a6d5, #23d5ab);
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
  height: 100vh;
  }
  
  @keyframes gradient {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }
  

.description {
  display: inherit;
  justify-content: inherit;
  align-items: inherit;
  font-size: 0.85rem;
  max-width: var(--max-width);
  width: 100%;
  z-index: 2;
  font-family: var(--font-mono);
}

.description a {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

.grid {
  display: flex;
  flex-direction: row;
}

.card {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
  /* position: relative; */
  padding: 4rem 0;
  width: 300px;
}

.logo {
  /* position: relative; */
  width: 100%;
}

.temp {
  font-size: 30pt;
}

.weather {
  font-size: 18pt;
}


/* Mobile */
@media (max-width: 700px) {

  .grid {
    grid-template-columns: 1fr;
    margin-bottom: 120px;
    max-width: 320px;
    text-align: center;
  }

  .center {
    padding: 8rem 0 6rem;
  }

  .description {
    font-size: 0.8rem;
  }

  .description a {
    padding: 1rem;
  }

  .description p,
  .description div {
    display: flex;
    justify-content: center;
    position: fixed;
    width: 100%;
  }

  .description div {
    align-items: flex-end;
    pointer-events: none;
    inset: auto 0 0;
    padding: 2rem;
    height: 200px;
    background: linear-gradient(
      to bottom,
      transparent 0%,
      rgb(var(--background-end-rgb)) 40%
    );
    z-index: 1;
  }
}

